<div class="mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card mt-4">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="..." />
                </a>
                <div class="card-body">
                    <a href="/courses/{{this.slug}}" class="card-name">
                        <h5 class="card-title card-name">{{this.name}}</h5>
                    </a>
                    <p class="card-text card-description">
                        {{this.description}}
                    </p>
                    <a href="/courses/{{this.slug}}" class="btn btn-primary"
                        >Xem video</a
                    >
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
