<form
    class="mt-4"
    name="container-form"
    method="POST"
    action="/courses/handle-form-actions"
>
    <div>
        <a href="/me/stored/courses"> Danh sách khóa học </a>
        <h3>Khoá học đã xóa</h3>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkbox-all"
                />
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>

            <select
                class="form-select form-select-sm form-select-checkall"
                required
                name="action"
            >
                <option value="">Tùy chọn</option>
                <option value="restore">Khôi phục</option>
                <option value="forceDestroy">Xóa vĩnh viễn</option>
            </select>

            <button
                class="btn btn-primary btn-sm btn-check-all-submit disabled"
            >
                Áp dụng
            </button>
        </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col">Id</th>
                <th scope="col" colspan="4">Thời gian xoá</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}} {{#if deleted}}
            <tr>
                <td colspan="2">
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            name="courseIds[]"
                            value="{{this._id}}"
                        />
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.videoId}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a
                        href=""
                        class="btn btn-link btn-restore"
                        data-id="{{this._id}}"
                        >Khôi phục</a
                    >
                    <a
                        href=""
                        class="btn btn-link"
                        data-bs-toggle="modal"
                        data-bs-id="{{this._id}}"
                        data-bs-target="#delete-course-modal"
                        >Xóa vĩnh viễn</a
                    >
                </td>
            </tr>
            {{/if}} {{else}}
            <tr>
                <td colspan="5" class="text-center">Thùng rác trống</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{! Confirm delete course }}
<div id="delete-course-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khóa học</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <p>
                    Hành động này không thể khôi phục. Bạn có chắc muốn xóa khóa
                    học chứ ?
                </p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Hủy
                </button>
                <button
                    id="btn-delete-course"
                    type="button"
                    class="btn btn-danger"
                >
                    Xóa vĩnh viễn
                </button>
            </div>
        </div>
    </div>
</div>

<form method="post" name="delete-course-form"></form>
<form method="post" name="restore-course-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteCourseModal = document.getElementById(
            'delete-course-modal'
        );
        const deleteForm = document.forms['delete-course-form'];
        const restoreForm = document.forms['restore-course-form'];
        const btnDeleteCourse = document.getElementById('btn-delete-course');
        const checkboxAll = $('#checkbox-all');
        const courseItemCheckbox = $('input[name="courseIds[]"]');
        const checkAllSubmitBtn = $('.btn-check-all-submit');
        const containerForm = document.forms['container-form'];

        let courseID;
        if (deleteCourseModal) {
            deleteCourseModal.addEventListener('show.bs.modal', event => {
                const button = event.relatedTarget;
                courseID = button.getAttribute('data-bs-id');
            });
        }

        btnDeleteCourse.addEventListener('click', () => {
            deleteForm.action =
                '/courses/' + courseID + '/force?_method=DELETE';
            deleteForm.submit();
        });

        //when you click then restore
        var restoreBtn = $('.btn-restore');
        restoreBtn.click(function (e) {
            e.preventDefault();
            var courseId = $(this).data('id');
            restoreForm.action =
                '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
        });

        //Checkbox all clicked
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked'); // Kiem tra xem check ch , tra ve true or false
            courseItemCheckbox.prop('checked', isCheckedAll);
            //Khi isCheckedAll true thi check het courseItemCheckBox, false thi bo check
            renderCheckAllSubmitBtn();
        });

        //Kiểm tra checkbox all va thay đổi nếu chưa check hết
        courseItemCheckbox.change(function () {
            var isCheckedAll =
                courseItemCheckbox.length ===
                $('input[name="courseIds[]"]:checked').length;
            //So sánh số item đã có với số item đã check, nếu ko bằng thì false
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        //Check all submit button clicked
        checkAllSubmitBtn.on('submit', function (e) {
            var isSubmitable = !$(this).hasClass('disabled');
            if (isSubmitable) {
                e.preventDefault();
            }
        });

        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            if (checkedCount > 0) {
                checkAllSubmitBtn.removeClass('disabled');
            } else {
                checkAllSubmitBtn.addClass('disabled');
            }
        }
    });
</script>
